<h1>Data Science Tools and Ecosystem<h1>

<h2>In this notebook, Data Science Tools and Ecosystem are summarized.<h2>

 <p>
      <b>Objectives:
          </p>
     
  <li>Popular languages for Data Science.</li>
  <li>Arithmetic expressions in Python</li>
  <li>Devlopmental Enviroments Tools in Data Science</li>

<h3>Some of the popular languages that Data Scientists use are:<h3>
        
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>

|DATA SCIENCE TOOLS|
|------------------|
|Zeppelin Notebooks|
|RSTUDIO|
|JUPYTER NOTEBOOKS|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [4]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [6]:
200/60  # This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

<h2>Author<h2>
   <p> RAHUL CHUGH</p>